@model UserAddDto
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kullanıcı Yönetimi / <a class="text-muted fw-light" href="/Admin/User/Index">Kullanıcılar </a>/</span> Kullanıcı Ekle</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <form asp-controller="User" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" style="color:red"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="FirstName" id="defaultFormControlInput" class="form-label">İSİM</label>
                            <input asp-for="FirstName" type="text" id="defaultFormControlInput" class="form-control mb-3" placeholder="Lütfen kullanıcının ismini giriniz." aria-describedby="defaultFormControlHelp">
                            @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" id="defaultFormControlInput" class="form-label">SOYİSİM</label>
                            <input asp-for="LastName" type="text" id="defaultFormControlInput" class="form-control mb-3" placeholder="Lütfen kullanıcının soyismini giriniz." aria-describedby="defaultFormControlHelp">
                            @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" id="defaultFormControlInput" class="form-label">EMAİL ADRESİ</label>
                            <input asp-for="Email" type="email" id="defaultFormControlInput" class="form-control mb-3" placeholder="Lütfen kullanıcının email adresini giriniz." aria-describedby="defaultFormControlHelp">
                            @*<span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" id="defaultFormControlInput" class="form-label">TELEFON NUMARASI</label>
                            <input asp-for="PhoneNumber" type="tel" id="defaultFormControlInput" placeholder="Lütfen kullanıcının telefon numarasını giriniz." class="form-control mb-3" aria-describedby="defaultFormControlHelp">
                            @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleId" id="defaultFormControlInput" class="form-label">ROL SEÇİNİZ</label>
                            <select asp-for="RoleId" class="form-control mb-3" asp-items="@(new SelectList(Model.Roles,"Id","Name"))">
                                @*<option value="" selected>Bir Rol Seçiniz</option>*@
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" id="defaultFormControlInput" class="form-label">ŞİFRE</label>
                            <input asp-for="Password" type="password" class="form-control mb-3" id="defaultFormControlInput" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="defaultFormControlHelp">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-dark btn-block">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>